/* ===GOOGLE FONTS===*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =====CSS VARIABLES======= */
:root{
  
--header-height:10rem;

/* === font weight===*/
--font-medium: 500;
--font-semi-bold:600;
--font-bold:700;

/* === colors===*/
--dark-color: #132c33; /*#194350*/
--dark-color-light: #57b2b87e;
--dark-color-lighten: #edffec;
--white-color: #FFFFFF;
--footer-color: rgba(27, 57, 233, 0.685);
--random-color:rgba(179, 174, 174, 0.596);
--border-color:#dfdfdf;

/* === font and typography===*/
--body-font: 'Raleway', sans-serif;
--big-font-size : 1.25rem;
--bigger-font-size : 1.5rem; 
--biggest-font-size : 2rem;
--h2-font-size : 1.25rem;
--normal-font-size : .938rem;
--smallest-font-size : .813rem;

/* === margins ===*/
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 2.5rem;
--mb-6: 3rem;


/* === z-index ===*/
--z-fixed: 100;

/* === rotate image ===*/
--rotate-img : rotate(-30deg);

} 

/* === media queries ===*/
@media screen and (min-width: 768px){
    :root{
        --big-font-size : 1.5rem;
        --bigger-font-size : 2rem; 
        --biggest-font-size : 3rem;
        --normal-font-size : 1rem;
        --smallest-font-size : .875rem;
    }
}


/* === BASE ===*/
*, ::before,::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* === LAYOUT ===*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.container{
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas: "header" "main" "footer";
	height: 100vh;
	overflow-x: hidden;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--header-height);
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}

.who{
    background-color: var(--footer-color);
    color:var(--white-color);
    font-size: var(--normal-font-size);
    padding: var(--mb-1);
    padding-left: 10rem;
}

.header__container{
    display: flex;
    align-items: flex-end;
    grid-template-columns: 1fr, minmax(auto-fix,1fr);
}

.header__title{
    padding-left: 10rem;
    font-weight: var(--bigger-font-size);
}

.header__title-sub{
    font-weight: var(--smallest-font-size);
    color: var(--random-color);
    font-size: var(--smallest-font-size);
}

.header__container-icons{
    position: relative;
    right: -20rem;
    margin-left: var(--mb-6);
}

.header__container-icon{
    margin-left: var(--mb-6);
}

header::after{
    content: '';
}

.input_search{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #777;
}

.search__input{
    border:none;
	background: var(--border-color);
	padding: 7px;
	font-size: 20px;
    border-radius: 5px;
	color: #777;
}

.search__input:focus{
	outline: none;
	border: none;
}


.sidenav{
	/* position: flex; */
    display: grid;
	grid-area: sidenav;
	height: 70%;
	/* overflow-y: auto; */
	background-color: var(--white-color);
	color: #FFF;
	width: 240px;
	/* transform: translateX(-245px); */
	/* transition: all 0.6s ease-in-out; */
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 2;
}




.sidenav__link{
    margin:var(--mb-6);
    padding: var(--mb-4);
}

.sidenav__link:hover{
    /* background-color:  #2166c2; */
    cursor: pointer;
}


/* main */
.main{
    /* position: absolute; */
	grid-area: main;
	background-color: #2166c2;
	color: #394263;
    grid-template-columns: 50px 1fr 50px;
    border-right: 1px solid red;
}



/* === FOOTER ===*/
.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
}

.footer__box{
    margin-bottom: var(--mb-4);
}

.footer__title{
    font-size: var(--big-font-size);
}

.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}

.footer__social{
    font-size: 1.5rem;
    margin-right: 1.25rem;
}

.footer__copy{
    padding-top: 3rem;
    font-size: var(--smallest-font-size);
    color: var(--dark-color-light);
    text-align: center;

}
















